/* === Global Styles === */

.d3ez {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
}

/* === Axis Styles === */

.d3ez .axis path, .axis line {
  fill: none;
  stroke: #b6b6b6;
  shape-rendering: crispEdges;
}

.d3ez .tick text {
  fill: #000000;
}


/* === To Sort === */

.chart .gridlines {
    stroke: lightgrey;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.chart .ohlc-series path {
    vector-effect: non-scaling-stroke;
    stroke-width: 1.5;
}

.chart .ohlc-series .up-days {
    stroke: green;
}

.chart .ohlc-series .down-days {
    stroke: red;
}

.chart .ohlc-series .bar.up-day {
    stroke: green;
}

.chart .ohlc-series .bar.down-day {
    stroke: red;
}

.chart .candlestick-series .bar path {
    stroke: black;
}

.chart .comparison-series .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
    vector-effect: non-scaling-stroke;
}

.chart .bar.up-day rect {
    fill: green;
}

.chart .bar.down-day rect {
    fill: red;
}

.chart .zoom-pane {
    fill: none;
    pointer-events: all;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
