/* === Candlestick Chart Styles === */

.candlestickChart .bar path {
  stroke: black;
}

.candlestickChart .bar.up-day rect {
  fill: green;
}

.candlestickChart .bar.down-day rect {
  fill: red;
}

.candlestickChart .zoom-pane {
  fill: none;
  pointer-events: all;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
