/* === Circular Heat Chart Styles === */

.chartCircularHeat path.segment {
  stroke: #B6B6B6;
  stroke-width: 0.5px;
}

.chartCircularHeat path.segment:hover {
  opacity: 0.7;
  stroke: black;
  cursor: pointer;
}

.chartCircularHeat .segmentLabels text {
  font-size: 1.0em;
  font-weight: bold;
}

.circularLabels text {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: -0.2px;
}
