/* === Radial Bar Chart Styles === */

.chartPolarArea path {
  fill: none;
}

.chartPolarArea path.segment {
  fill: steelblue;
  stroke-width: 0.5px;
  stroke: #999999;
}

.chartPolarArea path.segment:hover {
  opacity: 0.7;
  stroke: black;
  cursor: pointer;
}

.chartPolarArea .outerCircle circle {
  stroke: #aaa;
  stroke-dasharray: 4, 4;
}

.chartPolarArea .tickCircles circle {
  stroke: #ddd;
  stroke-dasharray: 2, 2;
}

.chartPolarArea .spokes line {
  stroke: #aaa;
  stroke-width: 1px;
}

.chartPolarArea .circularLabels text {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: -0.2px;
}
