/* === PunchCard Styles === */

.chartPunchCard circle.punchSpot {
  stroke: #b6b6b6;
  stroke-width: 0.5px;
}

.chartPunchCard circle.punchSpot:hover {
  opacity: 0.7;
  cursor: pointer;
}

.chartPunchCard text.punchValue {
  font-size: 15px;
  font-weight: bold;
}
