/* === Tabular Heat Chart Styles === */

.chartTabularHeat rect.card {
  stroke: #999999;
  stroke-width: 1px;
}

.chartTabularHeat rect.card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.chartTabularHeat .x-axis path, .chartTabularHeat .y-axis path {
  display: none;
}
