/* === Bar Chart (Discrete & Grouped) Styles === */
.chartDiscreteBar rect.bar, .chartGroupedBar rect.bar {
  stroke: #333333;
  stroke-width: 1px;
}
.chartDiscreteBar rect.bar:hover {
  opacity: 0.7;
}
.chartGroupedBar g.barGroup:hover {
  opacity: 0.7;
}
