/* === Donut Chart Styles === */
.chartDonut polyline.line {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.chartDonut path.slice {
  stroke: #333333;
  stroke-width: 1px;
}
.chartDonut path.slice:hover {
  opacity: 0.7;
}
