/* === Bar Chart (Discrete & Grouped) Styles === */
.discreteBarChart rect.bar, .groupedBarChart rect.bar {
	stroke: #333333;
	stroke-width: 1px;
}
.discreteBarChart rect.bar:hover {
	opacity: 0.7;
}
.groupedBarChart g.barGroup:hover {
	opacity: 0.7;
}