<!DOCTYPE html>
<html>

  <head>
    <title>d3-ez : Bubbles Test</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../../../dist/d3-ez.js"></script>
  </head>

  <body>
    <div id="chartholder"></div>

    <script type="module">
      import { dataset4 as myData } from "../../exampleData.js";

      var height = 300;
      var width = 300;
      var minRadius = 3;
      var maxRadius = 25;

      var colors = d3.ez.palette.categorical(1);
      var { rowKeys, coordinatesExtent: { x: xExtent, y: yExtent }, valueExtent } = d3.ez.dataTransform(myData).summary();

      var xScale = d3.scaleLinear()
        .domain(xExtent)
        .range([0, width]);

      var yScale = d3.scaleLinear()
        .domain(yExtent)
        .range([height, 0]);

      var colorScale = d3.scaleOrdinal()
        .domain(rowKeys)
        .range(colors);

      console.log(valueExtent);
      var sizeScale = d3.scaleLinear()
        .domain(valueExtent)
        .range([minRadius, maxRadius]);

      // Configure chart component
      var myChart = d3.ez.component.bubbles()
        .xScale(xScale)
        .yScale(yScale)
        .colorScale(colorScale)
        .sizeScale(sizeScale)
        .opacity(0.8);

      // Attach data and chart to 'chartholder' element
      var svg = d3.select("#chartholder")
        .append("svg")
        .attr("width", width)
        .attr("height", height)
        .selectAll(".seriesGroup")
        .data(myData)
        .enter()
        .append("g")
        .classed("seriesGroup", true)
        .call(myChart);

    </script>
  </body>

</html>
